body{
    color: greenyellow;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a{
    color: greenyellow;
    text-decoration: none;
}

header img{
    width: 300px;
    height: 300px;
    border-radius: 45%;
}

.center{
    text-align: center;
}

h1{
    color: yellowgreen;
}

p{
    color: white;
    font-size: 18px;
    padding: 8px;
}

h3{
    color: white;
    text-align: center;
    font-size: 25px;
    padding: 15px;
}

footer img{
    width: 25px;
    height: 25px;
}

footer{
    display: flex;
    justify-content: center;
    text-align: center;
}

footer a{
    margin: 25px;
}

footer p{
    margin-top: 3px;
}

.container{
    padding: 10px 50px;
}

.botoes{
    padding: 50px;
}

.img_escol{
    padding: 10px 50px; 
    text-align: center;
}

.cartaz{
    text-align: center;
    height: 400px;
    width: 100%;
}

.doutor{
    text-align: center;
}

.info{
    text-align: center;
}